*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: blueviolet;
}

/* Header */
.header{
    background-image: url(../img/945a3a3428edbbb02dae6ca8f2825b2a.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: auto;
}
.header p{
    color: white;
    margin-left: 50px;
}
.header ul{
    list-style-type: none;
    color: white;
}
.header ul li{
    float: right;
}
.header ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
}
.header ul li a:hover{
    background-color: rgb(190, 182, 182,0.5);
}

.slideshow {height: 600px; overflow: hidden;}

/* Menu */
.menu{
    background-color: blueviolet;
    margin: 0;
    color:white;
    list-style-type: none;
    overflow: auto;
}
.menu li{
    float: left;
    margin: 10px 30px;
}
.menu li a{
    text-decoration: none;
    color: white;
}
.menu li a:hover{
    color: rgb(209, 202, 202);
}
.menu li button{
    padding: 1px;
    border-radius: 5px 0px 0px 5px;
}
.menu li input{
    border-radius: 0px 5px 5px 0px;
}
.menu-fix{
	-webkit-box-shadow: 0px 3px 3px 0px rgba(171, 169, 171, 0.658);
    -moz-box-shadow: 0px 3px 3px 0px rgba(148, 145, 148, 0.728);
    box-shadow: 0px 3px 3px 0px rgba(148, 145, 148, 0.822);
}
.box-main{
    border: solid 1px rgb(122, 122, 122);
    margin: 0 auto;
    overflow: auto;
    width: 1200px;
    padding: 10px;
    background-color: white;
}
.intro{
    background-color: rgb(221, 218, 218);
    overflow: auto;
    padding-left: 30px;
}
