@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans-Light.eot');
    src: url('NunitoSans-Light.eot?#iefix') format('embedded-opentype'),
        url('NunitoSans-Light.woff2') format('woff2'),
        url('NunitoSans-Light.woff') format('woff'),
        url('NunitoSans-Light.ttf') format('truetype'),
        url('NunitoSans-Light.svg#NunitoSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

